/* import presessed by webpack css-loader */
.article {
  & .article-body-enter {
    opacity: 0;
    transition: scale(0.9);
  }
  & .article-body-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  & .article-body-exit {
    opacity: 1;
  }
  & .article-body-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }
}
